&led_strip {
  chain-length = <0>;
  // chain-length = <27>;
  // 21 backlight + 6 glowlight
};


#define TAPPING_TERM 200

/ {
  behaviors {
    /*
    * td_lock groups locking functions into one key:
    *  - tap once to lock the host
    *  - tap twice to put the host to sleep
    */

    td_lock: tap_dance_lock {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_LOCK";
      #binding-cells = <0>;
      tapping-term-ms = <TAPPING_TERM>;
      bindings = <&kp LG(LC(Q))>, <&kp LG(LA(C_EJECT))>;
    };
  };

  combos {
    compatible = "zmk,combos";

    Clear_BLE_Profile {
      bindings = <&bt BT_CLR>;
      key-positions = <0 38 5>;
    };

    Space {
      bindings = <&kp SPACE>;
      key-positions = <29 28>;
    };

    Enter {
      bindings = <&kp ENTER>;
      key-positions = <17 16>;
    };

    Capslock {
      bindings = <&kp CLCK>;
      key-positions = <5 6>;
    };
  };

  macros {
    git_status: git_status {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp G &kp I &kp T &kp SPACE &kp S &kp T &kp A &kp T &kp U &kp S>;
      label = "GIT_STATUS";
    };
    git_commit_all: git_commit_all {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = <&kp G &kp I &kp T &kp SPACE &kp C &kp O &kp M &kp M &kp I &kp T &kp SPACE &kp MINUS &kp A &kp MINUS &kp M &kp SPACE &kp DQT &kp DQT &kp LEFT_ARROW>;
      label = "GIT_COMMIT";
    };
  };

  keymap {
    compatible = "zmk,keymap";

    base_layer {
      label = "BASE_0";
      bindings = <
&trans                 &kp Q  &kp W  &kp E         &kp R           &kp T       &kp Y      &kp U           &kp I      &kp O    &kp P      &trans
&trans            &kp A  &kp S  &kp D         &kp F           &kp G       &kp H      &kp J           &kp K      &kp L    &kp SEMI   &trans
&trans      &kp Z  &kp X  &kp C         &kp V           &kp B       &kp N      &kp M           &kp COMMA  &kp DOT  &kp SLASH  &trans
                                    &trans  &trans  &trans    &trans  &trans  &trans
      >;
    };

    TRANS_1_layer {
      label = "TRANS_1";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };

    TRANS_2_layer {
      label = "TRANS_2";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    }; 

    TRANS_3_layer {
      label = "TRANS_3";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };


    TRANS_4_layer {
      label = "TRANS_4";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };

    TRANS_5_layer {
      label = "TRANS_5";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };

    TRANS_6_layer {
      label = "TRANS_6";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };

    TRANS_7_layer {
      label = "TRANS_7";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };

    TRANS_8_layer {
      label = "TRANS_8";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };

    TRANS_9_layer {
      label = "TRANS_9";
      bindings = <
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
&trans   &trans    &trans  &trans    &trans    &trans     &trans    &trans  &trans    &trans    &trans  &trans
                           &trans    &trans    &trans       &trans     &trans     &trans
      >;
    };


  };

  conditional_layers {
    compatible = "zmk,conditional-layers";

    Activate_EXT {
      if-layers = <1 2>;
      then-layer = <3>;
    };
  };
};
