/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-key-positions = <6 18 30 39 40 7 8 9 10 11 19 20 21 22 23 31 32 33 34 35 41>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT_HAND";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        Copy {
            bindings = <&copy>;
            key-positions = <26 27>;
            layers = <0>;
        };

        Paste {
            bindings = <&paste>;
            key-positions = <27 28>;
            layers = <0>;
        };

        Cut {
            bindings = <&cut>;
            key-positions = <28 29>;
            layers = <0>;
        };

        Manoonchai_R {
            bindings = <&mt RIGHT_BRACKET LEFT_BRACKET>;
            key-positions = <19 20>;
            layers = <0>;
        };

        Manoonchai_L {
            bindings = <&mt BACKSLASH APOS>;
            key-positions = <16 15>;
            layers = <0>;
        };

        Manoonchai_L_Shift {
            bindings = <&kp C>;
            key-positions = <16 15>;
            layers = <0>;
        };

        Manoonchai_R_Shift {
            bindings = <&kp D>;
            key-positions = <19 20>;
            layers = <0>;
        };
    };

    macros {
        par: WIN_DESK_LEFT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>;
            label = "WIN_DESK_LEFT";
        };

        brackets: WIN_DESK_RIGHT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "WIN_DESK_RIGHT";
        };

        cut: cut {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(DEL)>;
            label = "CUT";
        };

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(INS)>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(INS)>;
            label = "PASTE";
        };

        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>, <&macro_tap>;

            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Alpha {
            display-name = "ALPHA";
            bindings = <
&none  &kp Q              &kp W                &kp F       &kp P        &kp B          &kp J                     &kp L        &kp U      &kp Y           &kp SEMICOLON         &none
&none  &kp A              &kp R                &kp S       &kp T        &kp G          &kp M                     &kp N        &kp E      &kp I           &kp O                 &none
&none  &hml LEFT_SHIFT Z  &hml LEFT_CONTROL X  &kp C       &kp D        &kp V          &kp K                     &kp H        &kp COMMA  &hmr RCTRL DOT  &hmr RIGHT_ALT SLASH  &none
                                               &bl BL_DEC  &lt 3 ENTER  &lt 4 SPACE    &mt LEFT_SHIFT BACKSPACE  &lt 3 ENTER  &trans
            >;
        };

        Shift {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        BT {
            display-name = "BT";
            bindings = <
&none  &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &none
&none  &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &none
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &copy   &cut    &paste  &trans  &none
                                   &trans        &bt BT_CLR    &trans          &trans  &trans  &trans
            >;
        };

        NAV {
            display-name = "NAV";
            bindings = <
&none  &trans  &trans          &kp UP_ARROW    &trans           &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans    &trans  &trans  &trans  &trans  &trans  &none
&none  &trans  &trans          &trans          &trans           &trans    &trans  &trans  &trans  &trans  &trans  &none
                               &trans          &trans           &trans    &trans  &trans  &trans
            >;
        };

        NUM {
            display-name = "NUM";
            bindings = <
&none  &trans                    &kp N7        &kp N8        &kp N9        &kp SLASH    &trans  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp SINGLE_QUOTE  &trans                &none
&none  &mt ENTER ENTER           &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS    &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DQT           &mt ENTER ENTER       &none
&none  &mt LEFT_SHIFT BACKSPACE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp DOT      &trans  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kt EQUAL         &mt RIGHT_SHIFT BSLH  &none
                                               &trans        &trans        &trans       &trans  &trans                &trans
            >;
        };

        L4 {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F10    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans     &trans  &trans  &trans
            >;
        };

        L5 {
            bindings = <
&trans  &trans  &trans  &trans  &kp F13   &kp F14     &mt F12 N2  &trans    &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp F15   &kp F16     &trans      &trans    &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &kp F17   &kp F18     &trans      &trans    &trans  &trans  &trans  &trans
                        &trans  &kp BSLH  &kp APOS    &kp LBKT    &kp RBKT  &trans
            >;
        };
    };
};
